@model Creatives.Models.Creative


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Title creative</label>
                <input class="text-box single-line" id="Title" name="Title" type="text" value="" placeholder="Titel">
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>About creative</label>
                <textarea input class="text-box single-line" id="About" name="About" type="text" value=""></textarea>
            </div>
        </div>

        <label>Add Tags creative</label>
        <input id="Tagon" name="Tagon" type="text" value="" placeholder="#Asp#mvc,#itransition, #JavaScript #Database">
         @Html.ValidationMessageFor(model => model.Tagon)

        <p>
            <input class="button" type="submit" value="Create" />
        </p>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
