
@model Creatives.Models.Creative
<div class="row">
    <div class="large-12 columns">
        <article>
            <h3><a href="#">@Html.DisplayFor(model => model.Title)</a></h3>
            <h6>Written by <a href="#">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</a> @Html.DisplayFor(model => model.DateCreate)</h6>
            <p>@Html.DisplayFor(model => model.About)</p>
        </article>

        <hr />
    </div>
</div>


<div class="large-12 columns">
    <div class="nav-bar left">

        <ul class="button-group">
            <li><a href="~/Chapter/Add/@Model.Creativeid" class="button btn-success ">Add new chapter</a></li>
            <li><a href="~/Creative/Edit/@Model.Creativeid" class="button alert  ">Edit creative</a></li>

        </ul>

    </div>
</div>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(function() {
      $("#sortable").sortable({
          axis: "y",
          update: function (event, ui) {
              alert($( "#sortable" ).sortable( "toArray" ));
          }
      });
    $( "#sortable" ).disableSelection();
  });
  </script>
 

@{
    var a = Model.Chapter.OrderBy(r => r.NumbChapter).ToList();
    
}
<form>
    <fieldset>
        <legend>
            <h2>Chapters</h2>
        </legend>
        <ul id="sortable">
        @foreach (var item in a)
        {
            <li class="row" id="@item.NumbChapter">
                <div class="large-12 columns">
                    <article>
                        <h3><a href="~/Chapter/Edit/@item.ChapterId">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a></h3>
                    </article>

                    <hr />
                </div>
            </li>

        }
        </ul>
    </fieldset>
</form>





