<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Creatives</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/foundation/css")
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="large-12 columns">
            <div class="nav-bar right">

                <ul class="button-group">
                    <li><a href="~/Home/" class="button ">Home</a></li>
                    <li><a href="~/Home/AllCreatives" class="button">All Creatives</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>

                @Html.Partial("_Search")
            </div>
            
            <h1><a href="~/Home/">Creatives</a><br/><small>Collection of short stories.</small></h1>
            <hr />
        </div>
    </div>

    <div class="row">


        <div class="large-12 columns">
            @RenderBody()
        </div>

    </div>
    <div class="row">
        <footer>
            <div class="twelve columns">
                <p>&copy; 2014 All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/foundation/css")


    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
</body>
</html>
