<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/foundation/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="large-12 columns">
            <div class="nav-bar right">

                <ul class="button-group">

                    <li><a href="#" class="button">Link 1</a></li>
                    <li><a href="#" class="button">Link 2</a></li>

                    @Html.Partial("_LoginPartial")

                </ul>

                @Html.Partial("_Search")
            </div>
            <h1>Blog <small>This is my blog. It's awesome.</small></h1>
            <hr />
        </div>
    </div>

    <div class="row">


        <div class="large-12 columns">
            @RenderBody()
        </div>

    </div>
    <div class="row">
        <footer>
            <div class="twelve columns">
                <p>&copy; 2014 Все права защищены</p>
            </div>
        </footer>
    </div>






</body>
</html>
